* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

textarea, input {
    color: #000000;
    border: 1px solid #c9beb4;
    border-radius: 3px;
    background: white;
    padding: 10px 0 10px 5px;
}

textarea::placeholder,
input::placeholder {
    color: #c9beb4;
    font-size: 11px;
}

.app{
    display: flex;
    height: 100%;
    flex-direction: column; 
}

.header {  
    text-align: left;
}

.header-heading{
    font-size: 15px;
    color: rgb(250, 210, 7);
    margin: 3px 0 3px 10px;
}

.content{
    display: flex;
    background: #eae8e6;
    height: 150vh; 
}

.btn {
    display: block;
    padding: 8px 32px;
    border: none;
    background: rgb(249, 209, 8);
    color: black;
    cursor: pointer;
}

.pagination{
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    background: white;
    border-radius: 50%; 
}

.pagination a {
    color: black;
    text-decoration: none;
}

.pagination_link{
    text-decoration: none;
}

.active{
    background: rgb(249, 209, 8);
    border-radius: 50%;    
    color: black;
}

.file-btn {
    background: none;
    border: none;
}

